@font-face
{
  font-family: 'Shrikhand';
  src: url('fonts/Shrikhand.otf');
  font-weight: normal;
}
@font-face
{
  font-family: 'Roboto';
  src: url('fonts/Roboto.ttf');
  font-weight: normal;
}
header h4
{
  font-family: 'Shrikhand';
  font-size: 2em;
  margin-bottom: 10px;
  margin-left: 60px;
  margin-top: 20px;

}
header
{
  text-align: center;
  border-bottom: 2px solid #CECECE;
  margin-right: -10px;
  margin-left: -10px;
  display: flex;
  align-items: center;
}
p
{
  font-family: 'Roboto';
  font-size: 0.9em;
}
h2, h1
{
  font-family: 'Roboto';

}
h1
{
  font-size: 1em;
}
.photo
{
  width: 110%;
  height: 280px;
  margin-left: -10px;
  position: relative;
  z-index: 1;
}
.icon
{
  width: auto;
  height: 20px;
  margin-left: 20px;
}
.heart
{
  width: auto;
  height: 22px;
  margin-top: 43px;
  padding-right: 23px;

}
.card
{
position: relative;
z-index: 2;
margin-top: -60px;
background-color: #F2F2F2;
margin-right: -10px;
margin-left: -10px;
border-radius: 40px 40px 0% 0%;
padding-left: 15px;
padding-right: 10px;
display: flex;
flex-direction: column;
align-items: center;
}
.card h4
{
font-family: 'Shrikhand';
font-size: 1.8em;
margin-right: 90px;
}
.name_hearth
{
  display: flex;
  justify-content: space-between;
}
.repas
{
  margin-right: 120px;
}
.repas-1
{
  margin-right: 100px;
}
.repas-2
{
  margin-right: 130px;
}
.surline
{
border-bottom: 4px solid #99E2D0;
width: 10%;
padding-bottom: 5px;
margin-top: 40px;
}
.surline_1
{
  border-bottom: 4px solid #99E2D0;
  width: 10%;
  padding-bottom: 5px;
}
.plat
{
background-color: white;
padding-right: 20px;
padding-left: 10px;
border-radius: 20px;
margin-top: 20px;
width: 125%;
}
.plat-entrée
{
  background-color: white;

  padding-left: 10px;
  border-radius: 20px;
  margin-top: 20px;
  width: 145%;
}
.plat-dessert
{
  background-color: white;
  padding-left: 10px;
  border-radius: 20px;
  margin-top: 20px;
  width: 150%;
}
.plat h1, .plat-dessert h1, .plat-entrée h1
{
  margin-bottom: -5px;
  padding-top: 20px;
}
.plat, .plat-dessert, .plat-entrée
{
  box-shadow: 3px 4px 9px #D8D4EA;
}

.plat_1
{
display: flex;
justify-content: space-between;
padding-right: 20px;
}
.plat_2
{
  display: flex;
  justify-content: space-between;

}
.card button
{
 background-color: #9356DC;
    font-family: 'Roboto';
    color: white;
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
    font-size: 0.9em;
    background: linear-gradient(#FF79DA, #9356DC);
    margin-bottom: 70px;
    border: none;
    margin-top: 50px;
  }
  footer
  {
    background-color: #303030;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 10px;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  footer img
  {
    width: auto;
    height: 14px;
    margin-right: 12px;
    margin-top: 2px;

  }
  footer p
  {
    color: white;
  }
  footer h1
  {
    font-family: 'Shrikhand';
    margin-left: 10px;
    color: white;
    font-size: 1.1em;
    margin-right: 260px;
    margin-bottom: 0px;
  }
  footer ul
  {
    font-family: 'Roboto';
    color: white;
    list-style: none;
    padding-left: 10px;
    margin-right: 159px;
    white-space: nowrap;
  }
  .foot, .foot_1
  {
    display: flex;

  }
  .foot_1 img
  {
    width: auto;
    height: 11px;
    margin-right: 10px;
  }
  li
  {
    margin-bottom: 11px;
  }
