@font-face
{
  font-family: 'Shrikhand';
  src: url('fonts/Shrikhand.otf');
  font-weight: normal;
}
@font-face
{
  font-family: 'Roboto';
  src: url('fonts/Roboto.ttf');
  font-weight: normal;
}
.flex
{ display: flex;}

.column
{ flex-direction: column;}

.center
{ align-items: center;}

.space2
{ justify-content: space-between;}

.size1
{ width: auto;}


footer h1, .card h4, header h4
{ font-family: 'Shrikhand';}

p, h2, h1, .card button, footer ul, strong
{ font-family: 'Roboto';}


header h4
{
 
  font-size: 2em;
  margin-bottom: 10px;
  margin-left: 60px;
  margin-top: 20px;

}
header
{
  text-align: center;
  border-bottom: 2px solid #CECECE;
  margin-right: -10px;
  margin-left: -10px;
}
p, strong
{
  
  font-size: 0.9em;
}

h1
{
  font-size: 1em;
}
.photo
{
  width: 110%;
  height: 280px;
  margin-left: -10px;
  position: relative;
  z-index: 1;
}
.icon
{
  
  height: 20px;
  margin-left: 20px;
}
.heart
{
 
  height: 22px;
  margin-top: 43px;
  padding-right: 23px;

}
.card
{
position: relative;
z-index: 2;
margin-top: -60px;
background-color: #F2F2F2;
margin-right: -10px;
margin-left: -10px;
border-radius: 40px 40px 0% 0%;
padding-left: 15px;
padding-right: 10px;


}

.card h4
{

font-size: 1.8em;
margin-right: 90px;
}

.repas
{
  width: 100%;
}

.title
{
border-bottom: 4px solid #99E2D0;
width: 10%;
padding-bottom: 5px;
margin-top: 40px;
}
.title_1
{
  border-bottom: 4px solid #99E2D0;
  width: 10%;
  padding-bottom: 5px;
}
.plat
{
background-color: white;
padding-left: 10px;
border-radius: 20px;
margin-top: 20px;

}
.plat:hover .name{
width: 80%;
}
.plat:hover .check
{
  width: 20%;
}
.plat:hover .check i
{ transform: rotate(1turn);}

strong
{
  margin-top: 13px;
  margin-right: 20px;
}
.column { width: 100%;

}
.check{
  overflow: hidden;
  background-color: #99E2D0;
  width: 0%;
  border-radius: 0px 20px 20px 0px;
  text-align: center;

}
.check i 
{
 color: white;
 font-size: 1.5em;
 margin-top: 25px;
 transition: ease-in-out;
transition-property: transform;
transition-duration: 500ms;
padding: 0px;
 
}

.plat h1, .plat-dessert h1, .plat-entrée h1
{
  margin-bottom: -5px;
}
.plat, .plat-dessert, .plat-entrée, button
{
  box-shadow: 3px 4px 9px #D8D4EA;
}


.card button
{
 background-color: #9356DC;
    
    color: white;
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
    font-size: 0.9em;
    background: linear-gradient(#FF79DA, #9356DC);
    margin-bottom: 70px;
    border: none;
    margin-top: 50px;
    margin-left: 100px;
    
  }
  button:hover{ box-shadow: 6px 8px 9px #D8D4EA; }
  footer
  {
    background-color: #303030;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 10px;
    padding-bottom: 20px;
    
    padding-left: 10px;
    
    
  }
  footer img
  {
    
    height: 14px;
    margin-right: 12px;
    margin-top: 2px;

  }
  footer p
  {
    color: white;
  }
  footer h1
  {
    
    margin-left: 10px;
    color: white;
    font-size: 1.1em;
    margin-right: 260px;
    margin-bottom: 0px;
  }
  footer ul
  {
    
    color: white;
    list-style: none;
    padding-left: 10px;
    margin-right: 159px;
    white-space: nowrap;
  }
  
  .foot_1 img
  {
    
    height: 11px;
    margin-right: 10px;
  }
  li
  {
    margin-bottom: 11px;
  }
