@font-face {
  font-family: 'Shrikhand';
  src: url("fonts/Shrikhand.otf");
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto.ttf");
  font-weight: normal;
}

@-webkit-keyframes plat {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 15px);
            transform: translate(0px, 15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
}

@keyframes plat {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 15px);
            transform: translate(0px, 15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    display: none;
    visibility: hidden;
    overflow: hidden;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    display: none;
    visibility: hidden;
    overflow: hidden;
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 0.6;
    display: none;
  }
  100% {
    display: none;
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    opacity: 0.6;
    display: none;
  }
  100% {
    display: none;
    visibility: hidden;
  }
}

.loader {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 7px solid #f3f3f398;
  border-top: 7px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear;
          animation: spin 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 9999;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #303030;
  opacity: 0.6;
  -webkit-animation: loader 2s linear;
          animation: loader 2s linear;
  background-repeat: no-repeat;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 9999;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space {
  margin-bottom: 0px;
}

.space-1 {
  margin-top: 0px;
}

.space2 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.size {
  width: 100%;
}

.border {
  border-radius: 20px 20px 0% 0%;
}

p {
  font-family: 'Roboto';
  font-size: 1em;
}

h2, h1 {
  font-family: 'Roboto';
}

h1 {
  font-size: 1em;
}

.head0 {
  text-align: center;
  border-bottom: 2px solid #CECECE;
}

.head0 h4 {
  font-family: 'Shrikhand';
  font-size: 2em;
  margin-bottom: 10px;
}

.bloc-position {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EFEFEF;
}

.bloc-position img {
  width: auto;
  height: 18px;
  padding-right: 20px;
  margin-top: 15px;
}

.bloc-position p {
  margin-right: 40px;
}

.bloc-explore {
  text-align: center;
  background-color: #F2F2F2;
  padding-top: 5px;
}

.bloc-explore__text {
  margin-bottom: 30px;
}

.bloc-explore button {
  font-family: 'Roboto';
  color: white;
  padding: 15px 25px 15px 25px;
  border-radius: 25px;
  font-size: 0.9em;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  margin-bottom: 70px;
  border: none;
  -webkit-box-shadow: 3px 4px 9px #CECECE;
          box-shadow: 3px 4px 9px #CECECE;
}

.bloc-explore button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f698dc), to(#b279f8));
  background: linear-gradient(#f698dc, #b279f8);
  -webkit-box-shadow: 3px 10px 9px #CECECE;
          box-shadow: 3px 10px 9px #CECECE;
}

.bloc-function {
  margin-bottom: 40px;
}

.bloc-function .bloc-fonctionnement {
  margin: auto;
  width: 350px;
}

.bloc-function h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.bloc-function__card {
  background-color: #F2F2F2;
  border-radius: 20px;
  padding-top: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 3px 4px 9px #D8D4EA;
          box-shadow: 3px 4px 9px #D8D4EA;
  padding-right: 70px;
  white-space: nowrap;
  padding-bottom: 10px;
  margin-right: 10px;
}

.bloc-function__card:hover {
  background-color: #fbd8fb;
  -webkit-box-shadow: 3px 9px 9px #D8D4EA;
          box-shadow: 3px 9px 9px #D8D4EA;
}

.bloc-function__card .numbers {
  background-color: #9356DC;
  border-radius: 100%;
  padding-right: 7px;
  padding-left: 7px;
  margin-left: -12px;
  margin-top: 10px;
}

.bloc-function__card .numbers .numero {
  font-size: 0.9em;
  margin-top: 3px;
  margin-bottom: 3px;
  color: white;
  margin-left: 3px;
}

.bloc-function__card img {
  width: auto;
  height: 17px;
  margin-left: 25px;
  margin-top: 13px;
}

.bloc-function__card p {
  margin-left: 30px;
}

.bloc-resto {
  background-color: #F2F2F2;
  padding-bottom: 60px;
}

.bloc-resto h2 {
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.bloc-resto__card {
  background-color: white;
  text-decoration: none;
  margin-top: 5px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 15px #D8D4EA;
          box-shadow: 0px 3px 15px #D8D4EA;
  margin-bottom: 20px;
  position: relative;
  width: 90%;
}

.bloc-resto__card:hover {
  -webkit-box-shadow: 0px 16px 15px #D8D4EA;
          box-shadow: 0px 16px 15px #D8D4EA;
}

.bloc-resto__card--little {
  background-color: #99E2D0;
  position: absolute;
  z-index: 2;
  padding-right: 5px;
  padding-left: 5px;
  right: 10px;
  top: 10px;
  border-radius: 2px;
}

.bloc-resto__card--little p {
  font-size: 0.9em;
  margin-top: 1px;
  padding-top: 5px;
  color: green;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.bloc-resto__card__ending {
  margin-left: 10px;
  white-space: nowrap;
}

.bloc-resto__card__ending p {
  margin-top: -5px;
}

.bloc-resto__card i {
  position: absolute;
  right: 10px;
  bottom: 30px;
  font-size: 23px;
}

.bloc-resto__card i:hover::after {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), color-stop(53%), to(#FF79DA));
  background: linear-gradient(to bottom left, #9356DC, 53%, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  -webkit-animation: favorite 250ms linear forwards;
          animation: favorite 250ms linear forwards;
}

footer {
  background-color: #303030;
  padding-top: 10px;
  padding-bottom: 30px;
}

footer h1 {
  font-family: 'Shrikhand';
  margin-left: 10px;
  color: white;
  font-size: 1.1em;
  margin-right: 260px;
}

footer p {
  font-family: 'Roboto';
  color: white;
  list-style: none;
  padding-left: 10px;
  white-space: nowrap;
  margin-bottom: 3px;
}

footer img {
  width: auto;
  height: 13px;
  margin-top: 17px;
  margin-left: 10px;
}

.card h4, header h4 {
  font-family: 'Shrikhand';
}

p, h2, h1, .card button, strong {
  font-family: 'Roboto';
}

p {
  font-size: 0.9em;
}

h1 {
  font-size: 1em;
}

.size1 {
  width: auto;
}

.head1 {
  text-align: center;
  border-bottom: 2px solid #CECECE;
  z-index: 1;
}

.head1 h4 {
  font-size: 2em;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.head1 img {
  height: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.photo {
  width: 100%;
  height: 280px;
  position: relative;
  z-index: 1;
}

.card {
  position: relative;
  z-index: 2;
  margin-top: -60px;
  background-color: #F2F2F2;
  border-radius: 40px 40px 0% 0%;
  width: 100%;
}

.card h4 {
  font-size: 1.6em;
  margin-right: 40px;
  white-space: nowrap;
}

.card .name i {
  position: relative;
  top: 38px;
  font-size: 19px;
}

.card .name i:hover::after {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), color-stop(53%), to(#FF79DA));
  background: linear-gradient(to bottom left, #9356DC, 53%, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  -webkit-animation: favorite 250ms linear forwards;
          animation: favorite 250ms linear forwards;
}

.card button {
  background-color: #9356DC;
  color: white;
  padding: 15px 45px 15px 45px;
  border-radius: 25px;
  font-size: 0.9em;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  margin-top: 50px;
  -webkit-box-shadow: 3px 5px 9px #CECECE;
          box-shadow: 3px 5px 9px #CECECE;
}

.card button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f698dc), to(#b279f8));
  background: linear-gradient(#f698dc, #b279f8);
  -webkit-box-shadow: 3px 10px 9px #CECECE;
          box-shadow: 3px 10px 9px #CECECE;
}

.repas {
  width: 95%;
}

.repas .title_1 {
  border-bottom: 4px solid #99E2D0;
  width: 10%;
  padding-bottom: 5px;
}

.repas .title {
  border-bottom: 4px solid #99E2D0;
  width: 10%;
  padding-bottom: 5px;
  margin-top: 40px;
}

.repas .plat {
  background-color: white;
  padding-left: 10px;
  border-radius: 15px;
  margin-top: 20px;
  width: 95%;
  -webkit-box-shadow: 3px 8px 9px #D8D4EA;
          box-shadow: 3px 8px 9px #D8D4EA;
  -webkit-animation: 2s ease-in-out  plat;
          animation: 2s ease-in-out  plat;
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
}

.repas .plat:hover .name {
  width: 80%;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

.repas .plat:hover .name p {
  text-overflow: ellipsis;
}

.repas .plat:hover .check {
  width: 20%;
}

.repas .plat:hover .check i {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.repas .plat .name {
  width: 100%;
}

.repas .plat .name h1 {
  margin-bottom: 5px;
}

.repas .plat .name p {
  overflow: hidden;
  white-space: nowrap;
}

.repas .plat strong {
  font-size: 0.9em;
  margin-right: 20px;
}

.repas .plat .check {
  overflow: hidden;
  background-color: #99E2D0;
  width: 0%;
  border-radius: 0px 15px 15px 0px;
  text-align: center;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

.repas .plat .check i {
  color: white;
  font-size: 1.5em;
  margin-top: 25px;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  padding: 0px;
}

@media screen and (min-width: 700px) {
  .bloc-resto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bloc-resto h2 {
    width: 100%;
    margin-left: 10px;
  }
  .bloc-resto__card {
    width: 47%;
    margin-left: 20px;
  }
  .bloc-resto__card .picture2 {
    width: 100%;
    height: 268px;
  }
  .bloc-resto__card .picture4 {
    width: 100%;
    height: 226px;
  }
}
/*# sourceMappingURL=main.css.map */